<div class="container">
  <ui-home 
    image="/images/beagle.jpg"
    title="Lua"
    description="Lua es una perrita de la raza Beagle muy caracteristica por sus grandes orejas caidas."
    text_btn="Conoce mas sobre Lua"
    [clickEvent]="infoLua"
  ></ui-home>
  <ui-home 
    image="/images/corgi.jpg"
    title="Jack"
    description="Jack es un perro de la raza Corgi muy caracteristico por su cuerpo largo y patas cortas."
    text_btn="Conoce mas sobre Jack"
    [clickEvent]="infoJack"
></ui-home>
</div>
<router-outlet />
