.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: #2B7B8C;

    h3{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        text-align: center;
        width: 100%;
        color: white;

    }

    label{
        font-size: 1.2rem;
        text-align: left;
        width: 100%;
        color: white;
    }

    input{
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        outline: 1px solid #ccc;
        background: #cccccc;
        transition: all 0.5s;
    }
    input:active, input:focus{
        outline: 1px solid #0099ff;
        border-radius: 10px;   
        background-color: #e6e6e6;
    }

    button{
        width: 100%;
        height: 40px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        background-color: #009bd8;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            background-color: #0077a8;
        }
    }
}