.btn{
    background-color: #F2F2F2;
    color: #2B7B8C;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    outline: 1px solid #2B7B8C;
    &:hover{
        background-color: #2B7B8C;
        color: #F2F2F2;
    }
}